* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
    padding: 60px;
    margin: 0 auto;
}

.editor-container {
    position: relative;
    display: flex;
    width: 90vw;
    padding: 30px;
    gap: 10px;
    margin: auto;
    border: solid 1px black;
    border-radius: 20px;
    background-color: rgb(180, 160, 186);
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35vw;
}

.canvas-container {
    width: 45vw;
}

img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.gallery-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(237, 163, 163);
    border-radius: 10px;
}

.logo {
    margin-inline-start: 2em;
    font-size: 2rem;
    font-weight: bold;
}

.hide {
    display: none;
}

.meme-canvas {
    border: solid 2px black;
}

.btn {
    width: max-content;
    padding: 1em;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgb(153, 137, 204);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.add-txt {
    padding: 5px;
    border-radius: 10px;
    border: solid 2px gray;
}

.switch-lines {
    padding-inline: 0.6em;
}

.size-align {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.font-family-color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-block-start: 15px;
}

.font-family {
    flex-grow: 1;
    height: max-content;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 10px;
}

.icons {
    background-color: white;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    border: solid 2px rgb(68, 68, 68);
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 10px
  }

  .saved-container {
    text-align: center;
  }

  .saved-container h2 {
    color: white;
  }

  .saved-container .grid-container > * {
    max-width: 200px;
  } 
  
  .clr-plate {
    position: relative;
    left: 200px;
}

.header-btn {
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(153, 137, 204);
    font-weight: bold;
    cursor: pointer;
}

.header-btn:hover {
    background-color: white;
}

  @media screen and (max-width: 768px) {
    .editor-container {
        flex-direction: column;
        align-items: center;
        transition: 1s;
    }
}








